:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  height: 100vh;
  color: white;
  text-align: center;
}
main {
  background-color: var(--dark-grayish-blue);
  width: 444px;
  padding: 2rem;
  border-radius: 1rem;
  padding-bottom: 3.5rem;
  position: relative;
}
@media (max-width: 520px) {
  main {
    width: 295px;
  }
  main div img:first-child {
    display: none;
  }
  main div img:last-child {
    display: block !important;
  }
}
h5 {
  color: var(--neon-green);
  text-transform: uppercase;
  letter-spacing: 4px;
}
p {
  font-size: 28px;
}

/* Dice */
main::before {
  content: "";
  border-radius: 50%;
  background-color: var(--neon-green);
  padding: 2rem;
}
main .dice,
main::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
